/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

/* regole di debug */
[class*="col-"] {
  /* min-height: 100px; */
  /* background-color: pink; */
  /* border: solid 1px  #000; */
}

[class*="col-"] > .row > [class*="col-"] {
  /* background-color: lightgreen; */
  /* border-color:#fff; */
}
/* fine debug */

/* HEADER */
/* nav */
/* fixed */
header .navbar.navbar-default {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  border: none;
}

/* prima sezione dell'header */
#my-jumbo{
  background-image: url(../img/jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  margin-top: 50px;
}

#my-jumbo-text{
  color: white;
}

/* boostrap form */
#my-form{
  background-color: white;
}

header .blue-text{
  color: blue;
}

header section .btn-default,
header section .btn-primary{
  width: 100%;
}

/* seconda sezione dell'header */
#my-logos{
  background-color: #f3f5f9;
  text-align: center;
}

#my-hrz-line{
  border-left: 1px solid black;
  padding: 10px;
}

#my-hrz-line li{
  margin-top: 5px;
}

/* REGOLE DEL MAIN */
main section{
  /* min-height: 200px; */
}

/* primo section */
#my-deploy-text{
  text-align: center;
}

/* secondo section */
#dev-a, #dev-b{
  background-color: #f3f5f9;
  text-align: center;
  /* min-height: 200px; */
}

#dev-a img{
  width: 100%;
}

/* quarto section */
#my-features-text{
  text-align: center;
}

/* quinto section */
#my-table{
  background-color: blue;
  color: white;
}

#my-table-text{
  text-align: center;
}

/* sesto section */
#started{
  background-color: blue;
  color: white;
  text-align: center;
  min-height: 200px;

}

#started .btn-default{
  color: blue;
  font-size: 20px;
}

/* FOOTER */
footer{
  background-color: darkblue;
  color: white;
}

footer a{
  color: white;
}

/* @media screen and (min-widht: 1199px) {
  
} */
