/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

/* regole di debug */
[class*="col-"] {
  /* min-height: 100px; */
  /* background-color: pink; */
  /* border: solid 1px  #000; */
}

[class*="col-"] > .row > [class*="col-"] {
  /* background-color: lightgreen; */
  /* border-color:#fff; */
}
/* fine debug */

/* HEADER */
/* nav */
.my-logo img{
  width: 100px;
}

.navbar-default .navbar-nav>li>a {
  color: #031b4e;
}

/* hover li */
.navbar-default .navbar-nav>li>a:hover{
  color: blue;
}

nav .btn-default{
  color: blue;
  border-color: blue;
}

/* hover button */
nav .btn-default:hover{
  background-color: blue;
  color: white;
  border-color: white;
}

/* fixed */
header .navbar.navbar-default {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  border: none;
  /* background */
  background-color: white;
}

/* prima sezione dell'header */
/* background */
#my-jumbo,
#started{
  background-image: url(../img/jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#my-jumbo{
  min-height: 500px;
  margin-top: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
}

#my-jumbo-text{
  color: white;
}

#my-jumbo-text h1{
  font-size: 60px;
  font-weight: bold;
}

#my-jumbo .btn-block+.btn-block img{
  width: 5%;
}

/* boostrap form */
#my-form{
  background-color: white;
  border-radius: 5px;
}

header .blue-text{
  color: blue;
}

header section .btn-default,
header section .btn-primary{
  width: 100%;
}

/* seconda sezione dell'header */
#my-logos{
  background-color: #f3f5f9;
}

/* padding */
#my-logos,
#my-deploy,
#my-features{
  padding-top: 3%;
  padding-bottom: 3%;
}
#my-hrz-line{
  border-left: 1px solid black;
  padding: 10px;
  width: 40%;
  margin: auto;
}

#my-hrz-line li{
  margin-top: 5px;
}

/* REGOLE DEL MAIN */
main section{
  /* min-height: 200px; */
}

/* primo section */
#my-deploy{

}

/* secondo section */
#dev-a, #dev-b{
  background-color: #f3f5f9;
  /* min-height: 200px; */
}

#dev-a .carousel-indicators .active,
#dev-b .carousel-indicators .active{
  background-color: blue;
}

#dev-a .my-box,
#dev-b .my-box{
  width: 50%;
  color: blue;
  margin: auto;
  margin-bottom: 5%;
  min-height: 200px;
  padding: 20px 0;
}

#dev-a img{
  width: 100%
}

/* proprieta palline */
.my-carousel .carousel-control{
  background: none;
  color: blue;
}

#dev-a .carousel-indicators li,
#dev-b .carousel-indicators li{
  border: 1px solid blue;
}
/* fine palline */



/* terzo section */
#my-features{

}

/* quarto section */
#my-table{
  background-image: url(../img/map.svg);
  background-size: cover;
  background-position: center;
  background-color: rgba(3, 27, 78, 1);
  color: white;
  min-height: 300px;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* quinto section */
#dev-b .my-box{
  background-color: white;
  border-radius: 5px;
  border: #e5e8ed;
}

#dev-b img{
  width: 40%;
  margin-bottom: 20px;
}

#dev-b .dev-b-text{
  color: gray;
  padding: 3% 0;
}

/* sesto section */
#started{
  background-color: blue;
  color: white;
  /* min-height: 200px; */
}

/* padding */
#started,
footer{
  padding-top: 4%;
  padding-bottom: 4%;
}

#started .btn-default{
  color: blue;
  font-size: 20px;
}

/* FOOTER */
footer{
  background-color: darkblue;
  color: white;
}

footer a{
  color: white;
}

/* ---- mobile ---- */
@media all and (max-width: 778px){
  /*  horizontal line  */
  #my-hrz-line{
    width: 100%;
  }

  /* carousel */
  #dev-a .my-box,
  #dev-b .my-box{
    width: 100%;
  }
}

/* ---- tablet ---- */
@media all and (min-width: 778px){
  /*  horizontal line  */
  #my-hrz-line{
    width: 100%;
  }
}

/* ---- desktop ---- */
@media all and (min-width: 992px) {
  /* centratura lg */
  .lgcentr{
    padding: 0 100px;
  }
}
