/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  /* background-color: pink; */
  border: solid 1px  #000;
}

[class*="col-"] > .row > [class*="col-"] {
  background-color: lightgreen;
  border-color:#fff;
}
/* fine debug */

/* HEADER */
/* nav */
/* fixed */
header .navbar.navbar-default {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  border: none;
}

/* prima sezione dell'header */
#jumbo{
  background-image: url(../img/jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  margin-top: 50px;
}

/* seconda sezione dell'header */
#logos{
  background-color: lightgray;
  /* #fafafa; */
}

/* corpo della pagina */
/* primo section */
main section{
  /* min-height: 200px; */
}

/* secondo section */
#dev-a, #dev-b{
  background-color: lightgray;
  /* #fafafa; */
  /* min-height: 200px; */
}

/* quinto section */
#table-blue{
  background-color: blue;
}


/* quinto section */
#started{
  background-color: blue;
}

/* FOOTER */
  FOOTER{
    background-color: darkblue;
  }
